<div *ngIf="!isLoading">

  <div *ngIf="!wait">
    <p>{{count_votes}} / {{players.length}} votes are in</p>
    <button *ngIf="!check_allPlayersHaveVoted"  (click)="onSubmitVoteClick(true)">Yes</button>
    <button *ngIf="!check_allPlayersHaveVoted"  (click)="onSubmitVoteClick(false)">No</button>
    <div>
      <button *ngIf="check_allPlayersHaveVoted" (click)="onSeeVotesClick()">See votes</button>
    </div>
  </div>

  <div *ngIf="wait">
    <p>The team has {{check_teamApproved ? 'gone ahead' : 'not gone ahead'}}!</p>
    <button (click)="onMoveOnClick()">Move on</button>
  </div>
</div>

<div *ngIf="isLoading">
  <p>Loading...</p>
</div>