<div *ngIf="!isLoading">
  <app-player-table [isReadonly]="true" [columns]="columns"></app-player-table>

  <div *ngIf="!wait">
    <p>{{noOfVotesIn}} / {{players.length}} votes are in</p>
    <p *ngIf="yourVote !== null">You have voted this team {{yourVote ? 'up' : 'down'}}</p>
    <button *ngIf="!allVotesIn"  (click)="submitVote(true)">Yes</button>
    <button *ngIf="!allVotesIn"  (click)="submitVote(false)">No</button>
    <div>
      <button *ngIf="allVotesIn" (click)="seeVotes()">See votes</button>
    </div>
  </div>

  <div *ngIf="wait">
    <p>The team has {{hasItGoneAhead ? 'gone ahead' : 'not gone ahead'}}!</p>
    <button (click)="moveOn()">Move on</button>
  </div>
</div>

<div *ngIf="isLoading">
  <p>Loading...</p>
</div>