<div *ngIf="!isLoading">
    <div [ngSwitch]="pageMode">

      <!-- play-card mode -->
      <ng-template [ngSwitchCase]="'play-card'">
        <p>Pick a card...</p>
        <div *ngFor="let card of playableCards">
          <div>
            <button (click)="click_selectCard(card.enumValue)">{{card.name}}</button>
          </div>
        </div>
      </ng-template>

      <!-- wait mode -->
      <ng-template [ngSwitchCase]="'wait'">
        <p>Waiting for all cards to be played...</p>
      </ng-template>

      <!-- can-reveal mode -->
      <ng-template [ngSwitchCase]="'can-reveal'">
        <p>All cards have been played</p>
        <button (click)="click_revealCards()">Reveal cards?</button>
      </ng-template>

      <!-- reveal mode -->
      <ng-template [ngSwitchCase]="'reveal'">
          <p>Cards: {{revealedCards}}</p>
          <p>The mission {{check_missionPassed ? 'passed' : 'failed'}}</p>
          <button (click)="click_nextMission()">Next Mission</button>
      </ng-template>

      <!-- no mode (an error)-->
      <ng-template ngSwitchDefault>
          <p>An error has occurred</p>
      </ng-template>
    </div>

<div *ngIf="isLoading">
  <p>Loading...</p>
</div>