<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <ng-container *ngIf="session">
    <h1 class="text-center"> Your name is {{session.name}} </h1>
    <h1 class="text-center"> Your room code is {{session.roomCode}} </h1>
  </ng-container>
  <h1 class="text-center" *ngIf="player"> You are a {{teamPipe(player.team)}} {{rolePipe(player.role)}} </h1>


  <div class="image-container d-flex justify-content-center">
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  
  <router-outlet></router-outlet>

  
  <div class="d-flex justify-content-center">
    <app-lobby-page
      *ngIf="stageIsVisible(Stage.NotBegun)"
      (joinedServer)="joinedServer($event)"></app-lobby-page>
    <app-role-reveal-page
      *ngIf="stageIsVisible(Stage.RoleReveal)"
      [playerName]="session.name"
      (roleAssigned)="roleAssigned($event)"></app-role-reveal-page>
    <app-team-pick-page
      *ngIf="stageIsVisible(Stage.TeamPick)"></app-team-pick-page>
  </div>

  <app-dev 
    (joinedServer)="joinedServer($event)"
    (roleAssigned)="roleAssigned($event)"></app-dev>
</div>
