<div *ngIf="isTableVisible">
  <ng-container *ngIf="isLoading$ | async">
      <p>Loading...</p>
  </ng-container>
    
  <ng-container *ngIf="!(isLoading$ | async)">
    <table class="player-table">
      <thead>
        <tr>
          <th>Name</th>
          <th *ngFor="let column of columns">{{column.heading}}</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let player of players; let i = index">
            <td>{{player.name}}</td>
            <td *ngFor="let column of columns">
                <input [disabled]="column.readonly" type="checkbox" [(ngModel)]="column.data[i]" (ngModelChange)="onColChange()">
            </td>
          </tr>
      </tbody>
    </table>
  </ng-container>
</div>