<button *ngIf="canAssignRoles" (click)="assignRoles()">Assign Roles</button>

<div *ngIf="!canAssignRoles && !rolesAssigned">Loading...</div>
<div *ngIf="player">
  <p>You are a {{teamPipe(player.team)}} {{rolePipe(player.role)}}</p>
  <div class="fellow spies" *ngIf="player.team == teamEnum.spy">
    Your fellow spies are:
    <ul *ngFor="let player of fellowSpies">
      <li>{{player.name}}</li>
    </ul>
  </div>
</div>

<div *ngIf="rolesAssigned">
  <button (click)="startGame()">Start the game</button>
</div>