<ng-container *ngIf="isLoading">
  <p> Loading...</p>
</ng-container>

<ng-container *ngIf="!isLoading">
  <p>
      team-pick-page works!
  </p>

  <p class="whos-turn" *ngIf="!!currentLeader">It is <i>{{whoseTurn}}</i> turn to pick a team</p>

  <div *ngIf="youAreTheLeader">
    <h6> You are the leader.</h6>
    <h6>Pick a team.</h6>
    <p>{{numberOfSelectedPlayers}}/{{teamSize}} players selected</p>
    <ul *ngFor="let player of players; let i = index">
      <li>
        <label for="select-{{i}}">{{player.name}}</label>
        <input id="select-{{i}}" type="checkbox" [(ngModel)]="selectedPlayers[i]" (ngModelChange)="teamChange();">
      </li>
    </ul>
    
    <button [disabled]="!canSubmitTeam" (click)="submitTeam()">Thats my team</button>
  </div>

  <div *ngIf="!youAreTheLeader">
      <p>{{numberOfSelectedPlayers}}/{{teamSize}} players selected</p>
      <ul *ngFor="let player of players; let i = index">
        <li>
          <label>{{player.name}}</label>
          <input disabled type="checkbox" [ngModel]="selectedPlayers[i]">
        </li>
      </ul>
  </div>
</ng-container>