$notstarted: #aaa;
$passed: #aaf;
$failed: #faa;
$mission-circle-diameter: 50px;
$vote-circle-diameter: 30px;
$current-arrow-size: 5px;
$current-arrow-colour: #777;


.circle {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 1.5em;
    color: white;

    &.current {
        &::before {
            content: ' ';
            border-left: $current-arrow-size solid transparent;
            border-right: $current-arrow-size solid transparent;
            border-bottom: $current-arrow-size solid $current-arrow-colour;
            position: absolute;
            bottom: -$current-arrow-size;
          }

        &.mission {
            &::before{
                left: calc(#{$mission-circle-diameter} / 2 - #{$current-arrow-size})
            }
          }

        &.vote {
            &::before{
                left: calc(#{$vote-circle-diameter} / 2 - #{$current-arrow-size})
            }
        }
    }


    &.mission{
        width: $mission-circle-diameter;
        height: $mission-circle-diameter;
        font-size: calc(0.6 * #{$mission-circle-diameter});

        &.notstarted{
            background-color: $notstarted;
        }
    
        &.passed{
            background-color: $passed;
        }
    
        &.failed{
            background-color: $failed;
        }
    
        &.twofail {
            text-decoration: underline;
        }
    }

    
    &.vote {
        width: $vote-circle-diameter;
        height: $vote-circle-diameter;
        font-size: calc(0.6 * #{$vote-circle-diameter});
        background-color: $notstarted;

        &.downvoted{
            background-color: $failed;
        }
    }
}

